{% extends 'dashboard/base.html' %} 
{% load static %}
{% block title %} Analysis Sheet {% endblock %} 

{% block content %}
<!--**********************************
    Content body start
***********************************-->
<div class="content-body">
  <!-- row -->
  <div class="container-fluid">
    <div class="form-head align-items-center d-flex mb-sm-6 mb-3">
      <div class="mr-auto">
        <h2 class="text-black font-w600">Analysis Sheet</h2>
        <p class="mb-0">Hospital Analysis Sheet</p>
      </div>
      <div>
        <a href="{% url 'analysis_form' %}">
          <button type="button" class="btn btn-rounded btn-primary"><span
            class="btn-icon-left text-primary"><i class="fa fa-plus color-primary"></i>
            </span>Add Analysis
          </button>
        </a>
        <a href="index.html" class="btn btn-outline-primary"><i class="las la-calendar-plus scale5 mr-3"></i>Filter Date</a>
    </div>
    </div>
    <div class="row">
      <div class="col-xl-12">
        <div class="table-responsive card-table">
          <table
            id="example5"
            class="display dataTablesCard white-border table-responsive-xl"
          >
            <thead>
              <tr>
                <th>
                  <div class="custom-control custom-checkbox">
                    <input
                      type="checkbox"
                      class="custom-control-input"
                      id="checkAll"
                      required=""
                    />
                    <label class="custom-control-label" for="checkAll"></label>
                  </div>
                </th>
                <th>ID</th>
                <th>Additives</th>
                <th>Collectors</th>
                <th>Measurement</th>
                <th>Interval</th>
                <th>Technique</th>
                <th>Observation</th>
                <th>Debit Name</th>
                <th>Bench Name</th>
              </tr>
            </thead>
            {% for analysis in analysis_list %}
            <tbody>
              <tr>
                <td>
                  <div class="custom-control custom-checkbox">
                    <input
                      type="checkbox"
                      class="custom-control-input"
                      id="customCheckBox2"
                      required=""
                    />
                    <label
                      class="custom-control-label"
                      for="customCheckBox2"
                    ></label>
                  </div>
                </td>
                <td>{{analysis.id}}</td>
                <td>{{analysis.additives}}</td>
                <td>{{analysis.collectors}}</td>
                <td>{{analysis.measurement}}</td>
                <td>{{analysis.interval}}</td>
                <td>{{analysis.technique}}</td>
                <td>{{analysis.observation}}</td>
                <td>{{analysis.debit_name}}</td>
                <td>{{analysis.bench_name}}</td>
                <td>
                    <a href="{% url 'update_analysis' analysis.id %}" class='btn text-secondary px-0'>
                        <i class="fa fa-pencil fa-fw"></i> Edit 
                    </a>
                    <form action="{% url 'analysis_delete' analysis.id %}" method='post' class='d-inline'>
                        {% csrf_token %}
                        <button class="btn text-warning px-0" type="submit"><i class="fa fa-trash-o fa-fw"></i> Delete
                        </button>
                    </form>
                </td>
              </tr>
            </tbody>
            {% endfor %}
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<!--**********************************
    Content body end
***********************************-->
{% endblock %}
