{% extends 'dashboard/base.html' %} 
{% load crispy_forms_tags %}
{% block title %} Medicals Form {% endblock %}
{% load static %}
{% block content %}
<div class="content-body">
  <div class="container-fluid" style="
  margin-left: 250px;
">
    <div class="page-titles">
      <h4>Add Medical Analysis</h4>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="javascript:void(0)">Patient <Form></Form></a></li>
      </ol>
        </div>
        <!-- row -->
        <div class="row">
            <div class="col-xl-6 col-lg-6">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Input Form</h4>
                    </div>
                    <div class="card-body">
                        <div class="basic-form">
                          <form action="" method="post" autocomplete="off">
                            {% csrf_token %}
                              <div class="col md 6">{{mform.analysis_name|as_crispy_field}}</div>
                              <div class="col md 6">{{mform.abbr|as_crispy_field}}</div>
                              <div class="col md 6">{{mform.description|as_crispy_field}}</div>
                              <div class="col md 6">{{mform.technique|as_crispy_field}}</div>
                              <div class="col md 6">{{mform.unit|as_crispy_field}}</div>
                              <div class="col md 6">{{mform.interval|as_crispy_field}}</div>
                              <div class="col md 6">{{mform.regular_price|as_crispy_field}}</div>
                              <div class="col md 6">{{mform.assured_price|as_crispy_field}}</div>
                              <div class="col md 6">{{mform.collectors|as_crispy_field}}</div>
                            <div class="row">
                              <div class="col md 6">
                                <button class="btn btn-success my-4" type="submit"> <i class="fas fa-database"> </i> Submit</button>
                              </div>
                              <div class="col md 6">
                                <a href="{% url 'medicals_list' %}" class="btn btn-secondary btn-block">Back To List
                                  <i class="fas fa-stream"></i>
                                </a>
                              </div>
                            </div>
                          </form>
                        </div>
                      </div>
                    </div>
                </div>
              </div>
        </div>
    </div>
  </div>
</div>
{% endblock %}
