{% extends 'dashboard/base.html' %} 
{% load crispy_forms_tags %}
{% block title %} Patients Form {% endblock %}
{% load static %}
{% block content %}
<div class="content-body">
  <div class="container-fluid" style="
  margin-left: 250px;
">
    <div class="page-titles">
      <h4>Add Patient</h4>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="javascript:void(0)">Patient <Form></Form></a></li>
        <li class="breadcrumb-item active"><a href="javascript:void(0)">Element</a></li>
      </ol>
        </div>
        <!-- row -->
        <div class="row">
            <div class="col-xl-6 col-lg-6">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Input Style</h4>
                    </div>
                    <div class="card-body">
                        <div class="basic-form">
                              <form action="" method="POST">
                                {% csrf_token %}
                                <div class="form-group">
                                  {% crispy form %}
                                </div>
                                <div class="row">
                                  <div class="col md 6">
                                    <button class="btn btn-success my-4" type="submit"> <i class="flaticon-381-database"> </i> Submit</button>
                                  </div>
                                  <div class="col md 6">
                                    <a href="{% url 'patients_list' %}" class="btn btn-secondary btn-block">Back To List
                                      <i class="fas fa-stream"></i>
                                    </a>
                                  </div>
                                </div>
                              </form>
                        </div>
                    </div>
                </div>
              </div>
        </div>
    </div>
  </div>
</div>
{% endblock %}