{% extends 'dashboard/base.html' %}
{% block title %} LOGIN {% endblock %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}

{% comment %} 
<form method="post">
    {% csrf_token %}{{form|crispy}}
    <div class="text-center">
        <button type="submit" class="btn bg-white text-primary btn-block">Sign Me In</button>
    </div>
    <div class="new-account mt-3">
        <p class="text-black">Don't have an account? <strong><a class="text-black" href='/sign_up.html' >Sign up</a></strong> </p>
    </div>
</form> {% endcomment %}

<body class="h-100">
    <div class="authincation h-100">
        <div class="container h-100">
            <div class="row justify-content-center h-100 align-items-center" style="margin-top: 100px;">
                <div class="col-md-6">
                    <div class="authincation-content">
                        <div class="row no-gutters">
                            <div class="col-xl-12">
                                <div class="auth-form">
									<div class="text-center mb-3">
										<a href="index.html"><img src="{% static 'images/logo-full.png'%}" alt=""></a>
									</div>
                                    <h4 class="text-center mb-4 text-white">Sign in your account</h4>
                                    <form method="post">
                                        <div class="form-group">{% csrf_token %}
                                            <label class="mb-1 text-white">{{form|crispy}}</label>
                                        </div>
                                        <div class="form-row d-flex justify-content-between mt-4 mb-2">
                                            <div class="form-group">
                                               <div class="custom-control custom-checkbox ml-1 text-white">
													<input type="checkbox" class="custom-control-input" id="basic_checkbox_1">
													<label class="custom-control-label" for="basic_checkbox_1">Remember my preference</label>
												</div>
                                            </div>
                                            <div class="form-group">
                                                <a class="text-white" href="page-forgot-password.html">Forgot Password?</a>
                                            </div>
                                        </div>
                                        <div class="text-center">
                                            <button type="submit" class="btn bg-white text-primary btn-block">Sign Me In</button>
                                        </div>
                                    </form>
                                    <div class="new-account mt-3">
                                        <p class="text-white">Don't have an account? <a class="text-white" href="{% url 'sign_up' %}">Sign up</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

{% endblock %}